In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 100

In [2]:
def lower_case_column_names(x):
    x.columns=[i.lower() for i in x.columns]
    return x

In [3]:
file1 = pd.read_csv("Data/file1.csv")
file1 = lower_case_column_names(file1)
file1.rename(columns={"st":"state", "customer lifetime value":"customer_ltv"}, inplace = True)
# file1.head()

In [4]:
file2 = pd.read_csv("Data/file2.csv")
file2 = lower_case_column_names(file2)
file2.rename(columns={"st":"state", "customer lifetime value":"customer_ltv"}, inplace=True)
file2 = file2[["customer", "state", "gender", "education", "customer_ltv", "income", "monthly premium auto", "number of open complaints", "policy type", "vehicle class", "total claim amount"]]
# file2.head()

In [5]:
file3 = pd.read_csv("Data/file3.csv")
file3 = lower_case_column_names(file3)
file3.rename(columns={"customer lifetime value":"customer_ltv"}, inplace=True)
file3 = file3[["customer", "state", "gender", "education", "customer_ltv", "income", "monthly premium auto", "number of open complaints", "policy type", "vehicle class", "total claim amount"]]
# file3.head()

In [6]:
def combining_files():
    return pd.concat([file1,file2,file3], axis=0)

In [7]:
df = combining_files()
df.drop(["customer"], axis=1, inplace=True)
# df

In [8]:
print("state -> ", df["state"].unique())
print("gender -> ", df["gender"].unique())
print("education -> ", df["education"].unique())
print("policy type -> ", df["policy type"].unique())
print("vehicle class -> ", df["vehicle class"].unique())

state ->  ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
gender ->  [nan 'F' 'M' 'Femal' 'Male' 'female']
education ->  ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
policy type ->  ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
vehicle class ->  ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [9]:
df['state'] = df['state'].replace(['AZ', 'WA', 'Cali'],['Arizona', 'Washington', 'California'])
# df["state"].value_counts()

In [10]:
df['gender'] = df['gender'].replace(['Femal', 'female'], 'F')
df['gender'] = df['gender'].replace(['Male'], 'M')
# df['gender'].value_counts()

In [11]:
df['customer_ltv'] = df['customer_ltv'].apply(lambda x: x.strip("%") if isinstance(x,str) else x)
df['customer_ltv'] = pd.to_numeric(df['customer_ltv'], errors='coerce')
df['customer_ltv'] = df['customer_ltv'].apply(lambda x: float(round(x, 0)) if isinstance(x, (int, float)) else x)

In [12]:
df['number of open complaints'] = df['number of open complaints'].str.split('/').str[1]
# df.info()

In [13]:
# original_df = df
df = df.drop_duplicates()

In [14]:
df

,state,gender,education,customer_ltv,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697954.0,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.0,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.0,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536308.0,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23406.0,71941.0,73.0,NaN,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3097.0,21604.0,79.0,NaN,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8164.0,0.0,85.0,NaN,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.0,21941.0,96.0,NaN,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2612.0,0.0,77.0,NaN,Corporate Auto,Two-Door Car,369.600000