# Pandas: grouping

In [17]:
import pandas as pd
import numpy as np

In [18]:
cars = pd.read_csv("data/vehicles.csv")

In [19]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [20]:
### your code is here
cars['Model'].nunique()

3608

group by the data by the Make  using count function

In [21]:
### your code us here
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [22]:
### your code us here
cars.groupby('Make').count().sort_values(by='Model', ascending=False).head(1)

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
Chevrolet,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643

<b>show the average CO2_Emission_Grams/Km  by Brand

In [25]:
### your code us here
# convert to grams/km
cars['CO2 Emission Grams/Km'] = cars['CO2 Emission Grams/Mile'] * 0.62

# average by brand
cars.groupby('Make')['CO2 Emission Grams/Km'].mean()

Make
AM General                     379.042111
ASC Incorporated               344.371250
Acura                          262.002902
Alfa Romeo                     287.650311
American Motors Corporation    313.570470
                                  ...
Volkswagen                     243.499867
Volvo                          270.198328
Wallace Environmental          407.953818
Yugo                           220.762319
smart                          153.158944
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [26]:
### your code us here
cars.groupby('Make')['CO2 Emission Grams/Km'].mean().sort_values(ascending=False)

Make
Vector                                650.479028
Superior Coaches Div E.p. Dutton      550.994000
S and S Coach Company  E.p. Dutton    550.994000
Bugatti                               541.298750
Laforza Automobile Inc                500.903636
                                         ...
MINI                                  194.504455
Daihatsu                              192.316597
Fiat                                  188.893267
smart                                 153.158944
Fisker                                104.780000
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [27]:
## your code here
cars.groupby(pd.cut(cars['Year'], bins=[1970, 1980, 1990, 2000, 2010]))['Model'].count()

Year
(1970, 1980]        0
(1980, 1990]     7926
(1990, 2000]     9169
(2000, 2010]    10866
Name: Model, dtype: int64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [30]:
### your code is here
# converting to km/liter
cars['City_Km/Liter'] = cars['City MPG'] * 1.60934 / 3.78541
cars.groupby(pd.cut(cars['Year'], bins=[1970, 1980, 1990, 2000, 2010]))['City_Km/Liter'].mean()

Year
(1970, 1980]         NaN
(1980, 1990]    7.349833
(1990, 2000]    7.204198
(2000, 2010]    7.208413
Name: City_Km/Liter, dtype: float64

Which brands are more environment friendly?

In [32]:
### your code is here
# sort by CO2 Emission Grams/Km
cars.groupby('Make')['CO2 Emission Grams/Km'].mean().sort_values(ascending=True)

Make
Fisker                                104.780000
smart                                 153.158944
Fiat                                  188.893267
Daihatsu                              192.316597
MINI                                  194.504455
                                         ...
Laforza Automobile Inc                500.903636
Bugatti                               541.298750
Superior Coaches Div E.p. Dutton      550.994000
S and S Coach Company  E.p. Dutton    550.994000
Vector                                650.479028
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [33]:
## Your Code here
# sort by Drivetrain
cars.groupby('Drivetrain')['City_Km/Liter'].mean().sort_values(ascending=False)

Drivetrain
2-Wheel Drive, Front          10.628571
Front-Wheel Drive              9.002214
All-Wheel Drive                7.785598
4-Wheel Drive                  7.190861
2-Wheel Drive                  6.642480
Rear-Wheel Drive               6.556574
4-Wheel or All-Wheel Drive     6.392049
Part-time 4-Wheel Drive        6.215696
Name: City_Km/Liter, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here
# sort by Drivetrain
cars.groupby('Drivetrain')['City_Km/Liter'].mean().sort_values(ascending=False)

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857